.App {
  text-align: center;
  display: flex;
  position: absolute;
}

.container{
  overflow: none;
  background-color: coral;

}



body{
  overflow: hidden;
}

.fixed-center {
  /* position: fixed;
  top: 50%;
  left: 40%; */
  position: absolute;
  right: 50%;
  top: 50%;
}

.container{
  height: 100vh;
  position: relative;
}

.backgroundImage{
  min-width: 3000px;
  width: 100vw;
}

.product{
  position: relative;
  top: -800px;
  left: 300px;
}

.root{
  height: 1600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas{
  background-color: rgb(0, 0, 0);
  transform: translateY(200px);
}

.intro{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
